@{
    ViewBag.Title = "Home Page";
}

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h1>Welcome to BryanDoesCode the personal site for the Full Stack Web Developer for Bryan R Clingan II</h1>
        <ul class="actions">
            <li><a href="#one" class="button alt scrolly big">Continue</a></li>
        </ul>
    </div>
</section>

<!-- One -->
<article id="one" class="post style1">
    <div class="image">
        <img src="~/Content/images/pic14.jpg" alt="" data-position="75% center" />
    </div>
    <div class="content">
        <div class="inner">
            <header>
                <h2><a href="@Url.Action("Resume","Home")">My Resume</a></h2>

            </header>
            <p>Here is where you can find a copy of my resume, list of job skills, work experience, and my LinkedIn Profile.</p>
            <ul class="actions">
                <li><a href="@Url.Action("Resume","Home")" class="button alt">Read More</a></li>
            </ul>
        </div>
        <div class="postnav">
            <a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
            <a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
        </div>
    </div>
</article>

<!-- Two -->
<article id="two" class="post invert style1 alt">
    <div class="image">
        <img src="~/Content/images/pic13.jpg" alt="" data-position="10% center" />
    </div>
    <div class="content">
        <div class="inner">
            <header>
                <h2><a href="@Url.Action("Portfolio","Home")">My Portfolio</a></h2>

            </header>
            <p>Come take a look at the different projects I've completed.</p>
            <ul class="actions">
                <li><a href="@Url.Action("Portfolio","Home")" class="button alt">Read More</a></li>
            </ul>
        </div>
        <div class="postnav">
            <a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
            <a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
        </div>
    </div>
</article>

<!-- Three -->
<article id="three" class="post style1">
    <div class="image">
        <img src="~/Content/images/pic12.jpg" alt="" data-position="80% center" />
    </div>
    <div class="content">
        <div class="inner">
            <header>
                <h2><a href="@Url.Action("Links","Home")">My Classmates</a></h2>

            </header>
            <p>Check out the folks I went to Centriq with. Be sure to visit their sites as well.</p>
            <ul class="actions">
                <li><a href="@Url.Action("Links","Home")" class="button alt">Read More</a></li>
            </ul>
        </div>
        <div class="postnav">
            <a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
            <a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
        </div>
    </div>
</article>

<!-- Four -->
<article id="four" class="post invert style2 alt">
    <div class="image">
        <img src="~/Content/images/pic14.jpg" alt="" data-position="60% center" />
    </div>
    <div class="content">
        <div class="inner">
            <header>
                <h2><a href="@Url.Action("Contact","Home")">Contact Info</a></h2>

            </header>
            <p>Have a project you want done, or maybe a question about one of mine. Ask here!</p>
            <ul class="actions">
                <li><a href="@Url.Action("Contact","Home")" class="button alt">Read More</a></li>
            </ul>
        </div>
        <div class="postnav">
            <a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
            <a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
        </div>
    </div>
</article>

